<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF- Pr8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Garment</title>
  </head>
  <body>
    <h1>Add Garments</h1>
    <form action="/garments" method="post">
      <label for="name">Nama Garment</label>
      <input type="text" name="name" id="name" /><br />
      <label for="location">Lokasi</label>
      <input type="text" name="location" id="location" /><br />
      <label for="contact">Kontak</label>
      <input type="text" name="contact" id="contact" /><br />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
